* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: black;
    background-color: #433f43;
}

.parrafo {
    font-weight: 700;
}

.contenedor-compra {
    background-color: #6f6a6e;
    padding: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.contenedor {
    background-color: #808080;
}